ccaustin/src/web/domain.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XML Spy v3.5 NT (http://www.xmlspy.com)-->
<xsd:schema xmlns:xsd="http://www.w3.org/2000/10/XMLSchema" elementFormDefault="qualified">
	<xsd:complexType name="classType">
		<xsd:sequence>
			<xsd:element ref="name"/>
			<xsd:element ref="description"/>
			<xsd:element ref="create-destroy" minOccurs="0"/>
			<xsd:element name="relations" type="relationsType" minOccurs="0"/>
			<xsd:element name="properties" type="propertiesType" minOccurs="0"/>
			<xsd:element name="operations" type="operationsType" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:int" use="required"/>
		<xsd:attribute name="extends" type="xsd:int"/>
	</xsd:complexType>
	<xsd:element name="create-destroy" type="xsd:string"/>
	<xsd:element name="description" type="xsd:string"/>
	<xsd:element name="domain">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="title"/>
				<xsd:element ref="overview"/>
				<xsd:element name="class" type="classType" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="name" type="xsd:string"/>
	<xsd:complexType name="operationType">
		<xsd:sequence>
			<xsd:element ref="name"/>
			<xsd:element ref="description"/>
			<xsd:element ref="return-type"/>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:int" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="operationsType">
		<xsd:sequence>
			<xsd:element name="operation" type="operationType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="overview" type="xsd:string"/>
	<xsd:complexType name="propertiesType">
		<xsd:sequence>
			<xsd:element name="property" type="propertyType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="propertyType">
		<xsd:sequence>
			<xsd:element ref="name"/>
			<xsd:element ref="description"/>
			<xsd:element ref="type"/>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:int" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="relationType">
		<xsd:attribute name="toClass"  type="xsd:int" use="required"/>
		<xsd:attribute name="type" type="xsd:string" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="relationsType">
		<xsd:sequence>
			<xsd:element name="relation" type="relationType" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="return-type" type="xsd:string"/>
	<xsd:element name="title" type="xsd:string"/>
	<xsd:element name="type" type="xsd:string"/>
</xsd:schema>
