calvary-cms/docs/usecases/features.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XML Spy v4.2 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="description">
		<xs:complexType/>
	</xs:element>
	<xs:element name="feature">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="name" ref="name"/>
				<xs:element name="description" ref="description"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="features">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="feature" ref="feature" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="name">
		<xs:complexType/>
	</xs:element>
</xs:schema>
