calvary-cms/docs/usecases/usecases.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XML Spy v4.2 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="actor" type="xs:string"/>
	<xs:element name="alternate-flow">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="event" ref="event" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="created-by" type="xs:string"/>
	<xs:element name="created-on" type="xs:string"/>
	<xs:element name="description" type="xs:string"/>
	<xs:element name="event" type="xs:string"/>
	<xs:element name="event-flow">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="event" ref="event" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="feature" type="xs:string"/>
	<xs:element name="goal" type="xs:string"/>
	<xs:element name="history">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="revision" ref="revision" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="name" type="xs:string"/>
	<xs:element name="note" type="xs:string"/>
	<xs:element name="notes">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="note" ref="note" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="postcondition" type="xs:string"/>
	<xs:element name="postconditions">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="postcondition" ref="postcondition" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="precondition" type="xs:string"/>
	<xs:element name="preconditions">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="precondition" ref="precondition" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="priority" type="xs:string"/>
	<xs:element name="related-usecase" type="xs:string"/>
	<xs:element name="related-usecases">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="related-usecase" ref="related-usecase" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="revision">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="editor" type="xs:string" use="required"/>
					<xs:attribute name="date" type="xs:string" use="required"/>
					<xs:attribute name="version" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="usecase">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="name" ref="name"/>
				<xs:element name="created-by" ref="created-by"/>
				<xs:element name="created-on" ref="created-on"/>
				<xs:element name="priority" ref="priority"/>
				<xs:element name="actor" ref="actor"/>
				<xs:element name="feature" ref="feature"/>
				<xs:element name="goal" ref="goal"/>
				<xs:element name="description" ref="description"/>
				<xs:element name="notes" ref="notes" minOccurs="0" maxOccurs="1"/>
				<xs:element name="preconditions" ref="preconditions" minOccurs="0" maxOccurs="1"/>
				<xs:element name="postconditions" ref="postconditions" minOccurs="0" maxOccurs="1"/>
				<xs:element name="related-usecases" ref="related-usecases" minOccurs="0" maxOccurs="1"/>
				<xs:element name="event-flow" ref="event-flow"/>
				<xs:element name="alternate-flow" ref="alternate-flow" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="history" ref="history" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
